<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>

  <mat-checkbox
  #showDetails
  [checked]="isChecked"
  [value]="value"  
  (change)="onChange($event)"
  >Add me please</mat-checkbox>
</h2>

<div *ngIf="showDetails.checked"> Shwo the details .... </div>

<h4>What is your faivorite car?</h4>
<mat-radio-group calss="radio-group" [(ngModel)]="favoriteCar" value="tesla" >
  <mat-radio-button class="radio-button" *ngFor="let car of cars" [value]="car">
    {{car}}
  </mat-radio-button>
</mat-radio-group>
<div class="selected-value">Your favorite car is: {{favoriteCar}}</div>
